@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --grayish-blue: #8086A0;
    --purple-gray : #15161f;
    --sky-blue : #76BFEA;
    --white : #FFFFFF;
    --minty-green : #36B57A;
    --red-brown : #B54936;
    --popup-background : rgba(0,0,0,0.7);
    --input-background : #343A50;
    --soft-green : #96EAD6;
    --vibrant-turquoise : #16E1D9;
    --soft-blue : #74C2F1;
    --medium-dark : rgba(88,85,85,0.1);
    --dialog-background :#232532;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 2px solid red; */
}

body{
    width: 100%;
    height: 100vh;
    background-color:var(--grayish-blue) ;
    font-family: "Poppins",sans-serif;
    display: grid;
    place-items: center;
}

.main-container{
    width: 60%;
    height: auto;
    background-color: var(--purple-gray);
    border-radius: 20px;
    padding: 30px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--medium-dark);
    padding:15px;
    font-size: 1.5rem;
    border-radius: 20px;
}

.header .book-header {
    color: var(--grayish-blue);
}

.header .pile-header {
    color: var(--sky-blue);
}

.header img{
    width: 30px;
    cursor: pointer;
}

.books-field{
    height: 70vh;
    background-color: var(--medium-dark);
    border-radius: 20px;
    margin-top: 30px;
    padding: 30px 10px;
    position: relative;
}

.books-field p{
    color: var(--white);
    font-size: 1.1rem;
}

.add-button-1{
    width: 80px;
    height: 80px;
    background-color: var(--sky-blue);
    border-radius: 50%;
    box-shadow: 5px 5px 10px var(--purple-gray);
    position: fixed;
    top: 78%;
    left: 72%;
    cursor: pointer;
    transition: 0.4s;
}

.add-button-1:active{
    transform: scale(0.95);
}

.add-button-1 .fa-solid {
    font-size: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--purple-gray);
}


.popup-container{
    background-color: var(--popup-background);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0%;
    left: 0%;
    display: none
}

.popup-dialog{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 540px;
    height: 340px;
    background-color: var(--dialog-background);
    border-radius: 20px;
    border: 2px solid red;
}

.user-input{
    width: 80%;
    background-color: var(--input-background);
    color: var(--grayish-blue);
    border-bottom: 2px solid var(--sky-blue);
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.user-input input {
    width: 85%;
    background-color: transparent;
    color: var(--grayish-blue);
    font-size: 1rem;
    border:none;
    padding: 15px;
}

.user-input input:focus{
    border: none;
    outline: none;
}

.user-input input::placeholder{
    color: var(--grayish-blue);
    font-size: 1rem;
}

.error-message{
    color: red;
    font-size: 0.9rem;
    opacity: 0;
}

/* ==============Removing spin arrows in number input */

/* For Firefox */
input[type="number"] {
    -moz-appearance: textfield;
  }

/* For Webkit-based browsers (Chrome, Safari, Opera) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* ===================================================== */

.next-button{
    cursor: pointer;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 80%;
    right: 5%;
}

.popup-dialog .fa-solid{
    color: var(--input-background);
    font-size: 2.5rem;
    border-radius: 50%;
}

.prev-button{
    cursor: pointer;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 80%;
    left: 5%;
}

.confirm-status{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
}

.confirm-status p {
    color: var(--grayish-blue);
    font-size: 1.2rem;
    text-align: center;
}

.disabled{
    cursor: not-allowed;
    background-color: var(--grayish-blue);
}

.yes-no{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 35px auto;
    width: 80%;
    
}

.yes-no .yes-btn {
    background-color: rgba(54, 181, 122, 0.603);
    color: rgba(255, 255, 255, 0.699);
    font-size: 20px;
    border: none;
    padding: 8px 35px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;
}

.yes-no .yes-btn:hover{
    background-color: transparent;
    color: var(--minty-green);
    border: 1px solid var(--minty-green);
}

.yes-no .no-btn{
    background-color:rgba(181, 73, 54, 0.61);
    color: var(--dialog-background);
    font-size: 20px;
    border: none;
    padding: 8px 35px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;
}

.yes-no .no-btn:hover{
    background-color: transparent;
    color: var(--red-brown);
    border: 1px solid var(--red-brown);
}

.confirm-button{
    margin: 40px auto;
    width: 50%;
}

.add-to-pile{
    width: 100%;
    background-color: transparent;
    color: var(--sky-blue);
    padding: 10px 35px;
    font-size: 20px;
    border-radius: 10px;
    border:1px solid var(--sky-blue) ;
    cursor: pointer;
    transition: 0.4s;
}

.add-to-pile:hover{
    background-color: var(--sky-blue);
    color: var(--dialog-background);
    border: none;
}